<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dignidade em Ação R01</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="topo">
        <div class="container">
            <h1>DIGNIDADE EM AÇÃO</h1>
            <p class="subtitulo">Plataforma digital de apoio às ações sociais do Instituto Pelo Bem</p>

            <nav class="menu">
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('detalhes') }}">Projeto</a>
                <a href="{{ url_for('voluntario') }}">Seja voluntário</a>
                <a href="{{ url_for('doacao') }}">Doações</a>
                <a href="{{ url_for('admin') }}">Painel</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for categoria, mensagem in messages %}
                    <div class="alerta {{ categoria }}">{{ mensagem }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="rodape">
        <div class="container">
            <p>Projeto Interdisciplinar 2026.1 • Extensão + UX/UI</p>
        </div>
    </footer>
</body>
</html>
